.gs-matches {
    padding: 15px;
}

.gs-matches-item {
    margin-bottom: 10px;
}

.gs-matches-item-cta {
    background-position: center;
    background-size: cover;
    border: solid 1px #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 25px 0;
    width: 100%;
}
