<section class="gs-sport">
    <p class="gs-sport-header">
        Please choose from the following sports:
    </p>
    <div class="gs-sport-item" *ngFor="let s of data?.items">
        <button class="gs-sport-item-cta"
                [style.background-image]="'url(' + s.name + ')'"
                [disabled]="s.status !== 'active'" (click)="redirect(s.routeName)">
            {{s.name}}
            <span class="gs-sport-item-cta-status" *ngIf="s.status !== 'active'">(coming soon)</span>
        </button>
    </div>
</section>
