<form class="gs-form-addevent" [formGroup]="formGroup">
    <h2 class="gs-form-addevent--title">Add New Event</h2>
    <mat-form-field class="gs-form-addevent-field is-fullwidth" appearance="fill">
        <mat-label>Event</mat-label>
        <mat-select [formControl]="eventControl">
            <mat-option *ngFor="let event of data.events" [value]="event.name">
                {{event.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="gs-form-addevent-field is-fullwidth" appearance="fill">
        <mat-label>Time <small>(in minutes when the event happened)</small></mat-label>
        <input matInput type="number" placeholder="Ex. 16" [formControl]="timeControl" [value]="timeControl.value" min="10">
    </mat-form-field>

    <mat-radio-group
        class="gs-form-addevent-field is-fullwidth"
        aria-labelledby="example-radio-group-label" [formControl]="teamControl">
        <mat-radio-button [value]="data.info.homeTeam.name">
            {{data.info.homeTeam.name}}
        </mat-radio-button>
        <br>
        <mat-radio-button [value]="data.info.awayTeam.name">
            {{data.info.awayTeam.name}}
        </mat-radio-button>
    </mat-radio-group>

    <div class="gs-form-addevent-cta">
        <button mat-raised-button color="primary" [disabled]="formGroup.invalid" (click)="save()">Save</button>
    </div>
</form>
